{
    admin off
}

:80 {
    root * /app/public
    file_server

    # API запросы — на бэкенд
    handle /api/* {
        reverse_proxy localhost:8080
    }

    # Всё остальное — отдаем index.html
    handle {
        try_files {path} /index.html
        file_server
    }
}